<h1> Welcome to CityHopper </h1>

<img src="images/home_page.jpg" alt="travel picture"> 


<p> Use CityHopper to create a wishlist of all the city breaks you're planning to go on. Happy hopping! </p>

<%= link_to "Click here to create a user", new_user_path %>
<br>
<%= link_to "Click here to see all countries", countries_path %>
<br>
<%= link_to "Click here to see all cities", cities_path %>
<br>
<%= link_to "Click here to add a new trip to your wishlist", new_trip_path %>


