<!-- <br>
<p class="lead"> Create a wishlist of city breaks you'd love to go on with CityHopper</p>
<p class="lead"> Happy hopping!</p>
<br> -->
<img src="images/home_page.jpg" class="img-fluid rounded mx-auto d-block" alt="travel picture">
<p class="lead">Photo by Simon Migaj on Unsplash</p>
